<h2>会員一覧</h2>

<%= @customers.each do |customer| %>

<p>会員ID：<%= customer.id %></p>
<p>氏名：<%= link_to customer.last_name+customer.first_name, admin_customer_path(customer.id) %></p>
<p>メールアドレス：<%= customer.email %></p>
<p>ステータス：<%= customer.is_deleted ? '退会':'有効' %></p>

<% end %>
