<div class = "container">

<h2>ショッピングカート</h2>
 <div class="text-right">
    <%= link_to "カートを空にする",destroy_all_path(@cart_items),method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
 </div>

 <br>
 <div class = "row">
   <div class = "col-md-2"></div>
   <div class = "col-md-10">
     <table class="table table-bordered">
  <thead>
    <tr>
        <th class="bg-light d-block d-md-table-cell"><div class="text-center">商品名</div></th>
        <th class="bg-light d-block d-md-table-cell"><div class="text-center">単価</div></th>
        <th class="bg-light d-block d-md-table-cell"><div class="text-center">数量</div></th>
        <th class="bg-light d-block d-md-table-cell"><div class="text-center">小計</div></th>
        <th class="bg-light d-block d-md-table-cell"></th>
    </tr>
</thead>
<% @cart_items.each do |cart_item| %>
<%= form_with model: cart_item,url:update_cart_items_path(cart_item.id),method: :patch do |f| %>

 <tbody>
    <tr>
        <td><div class="text-center"><%= cart_item.item.name %></div></td>
        <td><div class="text-center"><%= cart_item.item.with_tax_price%></div></td>
        <td><div class="text-center"><%= f.select :amount, *[1..10], :selected =>cart_item.amount %>
            <%= f.submit '変更', class:"btn btn-success btn-sm" %></div></td>
        <td><div class="text-center"><%= cart_item.subtotal%></div></td>
        <td><div class="text-center"><%= link_to "削除",destroy_cart_items_path(cart_item.id),method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger btn-sm" %></div></td>
<% end %>
<% end %>
    </tr>
</tbody>
</table>

   </div>
 </div>
 <div class = "row">
   <div class = "col-md-2"></div>
    <div class = "col-md-10">
    <%= link_to "買い物を続ける",items_path, class:"btn btn-primary" %>
    </div>
 </div>


<div class="d-flex justify-content-end">
<div class = "row">

  <div class = "col-md-6">
      <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="bg-light d-block d-md-table-cell">合 計</th>
          <td class="d-block d-md-table-cell"><%= @total.round.to_s(:delimited)%></td>
        </tr>
        </tbody>
       </table>
      </div>
    </div>
</div>
<div class="text-center">
<%= link_to "情報入力に進む", new_orders_path, class:"btn btn-success" %>
</div>
</div>