<div class = "container">
  <div class = "row">
    <div class = "col-md-1"></div>
    <h4>ログイン</h4>
  </div>

<div class = "row">
  <div class = "col-md-1"></div>
  <p>会員の方はこちらからログイン</p>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


  <div class="row">
    <div class = "col-md-2"></div>
    <div class = "col-md-2">
    <label>メールアドレス</label>
    </div>
    <div class = "col-md-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control", style:"margin: 3px;" %>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-2">
      <label>パスワード</label>
      </div>
      <div class = "col-md-3">
    <%= f.password_field :password, autocomplete: "current-password",class:"form-control", style:"margin: 3px;" %>
    </div>
  </div>
<br>

  <div class ="text-center">
    <%= f.submit "ログイン", class:"btn btn-success" %>
  </div>
<% end %>

<div class = "row">
  <div class = "col-md-1"></div>
<p>会員登録がお済みでない方</p>
</div>
<div class = "row">
  <div class = "col-md-3"></div>
  <%= link_to "こちら",new_customer_registration_path %>
<p>から新規登録を行ってください。</p>
</div>


</div>
