<%= form_with model: @cart_item do |f| %>
<div>

<%= image_tag @item.image %>
<h4><%= @item.name %></h4>
<p><%= @item.introduction %></p>
<p>￥<%= number_to_currency(@item.price*1.1, :locale => 'en') %>(税込)</p>

<%= f.hidden_field :item_id, :value => @item.id %>
<%= f.select :amount, *[1..10], :prompt => "個数選択" %>
<%= f.submit 'カートに入れる' %>

</div>
<% end %>
